html {
  font-size: 62.5%; /* Sets 1rem = 10px */
}

body {
  font-size: 1.6rem; /* 16px base font size */
  text-align: center;
  background-color: dodgerblue;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  height: 100vh; /* Ensure body covers full viewport height */
}

#root {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-items {
  background-color: white;
  padding: 5rem;
  border-radius: 5rem;
}

.header,
.text {
  color: black;
}

.star {
  font-size: 3rem;
  color: grey;
  margin-right: 1rem;
}
